body
{
    background-color: #444F6C;
}

section
{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 360px;
}
div
{
    float: left;
    width: 116px;
    height: 116px;
    border: 2px solid black;
    background-color: grey;
}

div:hover
{
    background-color: #444F6C;
}

.Ahri
{
    background-image: url("img/Ahri.png");
}
.Ashe
{
    background-image: url("img/Ashe.png");
}
.Diana
{
    background-image: url("img/Diana.png");
}
.Fizz
{
    background-image: url("img/Fizz.png");
}
.Janna
{
    background-image: url("img/Janna.png");
}
.Jinx
{
    background-image: url("img/Jinx.png");
}
.Maokai
{
    background-image: url("img/Maokai.png");
}
.Neeko
{
    background-image: url("img/Neeko.png");
}
.Rengar
{
    background-image: url("img/Rengar.png");
}