body
{
    background-color: #444F6C;
}

section
{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 360px;
}
div
{
    margin: 2px;
    float: left;
    width: 112px;
    height: 112px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: grey;
}

div:hover
{
    opacity: 50%;
}

.Ahri
{
    background-image: url("img/Ahri.png");
}
.Ashe
{
    background-image: url("img/Ashe.png");
}
.Diana
{
    background-image: url("img/Diana.png");
}
.Fizz
{
    background-image: url("img/Fizz.png");
}
.Janna
{
    background-image: url("img/Janna.png");
}
.Jinx
{
    background-image: url("img/Jinx.png");
}
.Maokai
{
    background-image: url("img/Maokai.png");
}
.Neeko
{
    background-image: url("img/Neeko.png");
}
.Rengar
{
    background-image: url("img/Rengar.png");
}

.off
{
    opacity: 10%;
    transition: 1s ease-in-out;
}
.hidden
{
    background-image: url("img/icon.png");
    transition: 0.5s ease-in-out;
}